.column {
    float: left;
    width: 22.3%;
    margin-bottom: 16px;
    padding: 0 1rem;
    display: flex;
   
  }
  .row{
    padding:0 5rem;
  }
  .card {
    box-shadow: 0 4px 8px 0 #D7BDCA;
    margin-left: 4rem;
    

  }
  
  .about-section {
    padding: 1rem;
    text-align: center;
    background-color: #D7BDCA;
    color: white;
  }
  
  .container {
    padding: 0 1rem;
  }
  
  .container::after, .row::after {
    content: "";
    clear: both;
    display: table;
  }
  
  .title {
    color: #D7BDCA;
  }
  
  .button {
    border: none;
    outline: 0;
    display: inline-block;
    padding: 8px;
    color: white;
    background-color: #6A515E;
    text-align: center;
    cursor: pointer;
    width: 100%;
  }
  
  .button:hover {
    background-color: #D7BDCA;
  }
  
  @media screen and (max-width: 650px) {
    .column {
      width: 100%;
      display: block;
    }
  }